beartype==0.14.1
circuitsvis
einops==0.8.2
jaxtyping==0.3.7
jupyter
matplotlib==3.11.0
numpy==2.4.2
pandas==3.0.0
plotly==6.5.2
PyYAML==6.0.3
torch==2.10.0
tqdm==4.67.3
transformer-lens==2.17.0
transformers==4.57.6
wandb
